<!DOCTYPE html>
<html>

<head>
  <title>Cocktail-DB</title>
  <link rel="shorcut icon" type="image/jpg" href="/public/images/leo-logo.jpg">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <a href="/cocktails/new">New Cocktail</a>
  <a href="/cocktails">Cocktails List</a>
</body>

</html>