<%- include('../partials/header') %>

<form action="/cocktails" method="POST">
  <label>Title: <input type="text" autofocus name="title" /> </label><br />
  <label>Description: <input type="text" name="description" /> </label><br />

  <label
    >Ingredients:
    <input type="text" name="ingredient1" />
  </label>
  <label
    >Ingredients:
    <input type="text" name="ingredient2" />
  </label>
  <label
    >Ingredients:
    <input type="text" name="ingredient3" />
  </label>
  <label
    >Ingredients:
    <input type="text" name="ingredient4" />
  </label>
  <label>Ingredients: <input type="text" name="ingredient5" /> </label><br />
  <label>Preparation: <input type="text" name="preparation" col="4" /> </label
  ><br />
  <input class="new-cocktail" type="submit" value="Add Cocktail" />
</form>
<%- include('../partials/footer') %>
